/* Small screens (default) */
html { 
        font-size: 16px; /*  16px=1rem */
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
     }

html, body {
   height:100%;
}
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 18px; }
  h1 {
  font-size: 2rem;
  }
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section {
  padding: 2rem 0 2rem 0;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }  
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 20px; }
  h1 {
  font-size: 3rem;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/* Typo
   ========================================================================== */

h1 {
  font-size: 2.6rem;
  font-weight: 800;
  }

p {
  font-size: 1rem;
  }

/* Section
   ========================================================================== */

section {
  padding: 3rem 0 6rem 0;
}

section:first-of-type { border-top: none; }

.info {
  color: #fff;
  height: 100%;
  text-align: center;
  background: #617278;
}
